#class_cards, #neutral_cards {
    display : inline;
}

#cards {
    display: block;
}

.card_image  {
    max-width: 150px;
    height: auto;
}

#cardsearch {
    width: 100%;
    margin-top: 25px;
}
#cardsearch div {    
    width: 300px;
    margin: 0 auto;    
}